<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="static">
    <!-- Jquery -->
    <script src="/js/jquery-3.3.1.min.js"></script>

    <!-- Layui -->
    <link href="/layui/css/layui.css" rel="stylesheet" type="text/css"/>
    <script src="/layui/layui.js"></script>

    <!--主页面-->
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/css/index.css"/>

    <!--ajax-->
    <script src="/js/ajax.js"></script>

    <!--form表单-->
    <script src="/js/form.js"></script>
</head>
</html>