<link rel="stylesheet" href="/sys/user/user.css">

<div class="layui-layout layui-layout-admin" style="padding: 20px">
    <div class="layui-body">
        <div>
            <form class="layui-form" action="" lay-filter="example">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">客户名称


                        </label>
                        <div class="layui-input-block">
                            <input type="text" id="username" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="search">查找</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="margin: 0 20px">
            <div class="layui-btn-group demoTable">
                <button class="layui-btn" data-type="enableUser">启用客户</button>
                <button class="layui-btn" data-type="disableUser">禁用客户</button>
            </div>
            <table class="layui-hide" id="userTable" lay-filter="userTable"></table>
        </div>
    </div>
</div>
<script src="/sys/user/user.js"></script>
<script type="text/html" id="status">
    {{#  if(d.status == 1){ }}
    启用中
    {{#  } else { }}
    禁用中
    {{#  } }}
</script>